name: cbiehler-wordpress
volumes:
  db_data_wp:
services:
  wordpress_db:
    container_name: cbiehler-wordpress-db
    image: mariadb:11.8.5
    command: '--default-authentication-plugin=mysql_native_password'
    volumes:
      - db_data_wp:/var/lib/mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=db_wordpress
      - MYSQL_USER=username
      - MYSQL_PASSWORD=password
    ports: ['3310:3306']
  wordpress:
    container_name: cbiehler-wordpress-web
    image: wordpress:6.9.1-php8.5-apache
    ports: ['8088:80']
    restart: unless-stopped
    depends_on: ['wordpress_db']
    environment:
      - WORDPRESS_DB_HOST=wordpress_db
      - WORDPRESS_DB_NAME=db_wordpress
      - WORDPRESS_DB_USER=username
      - WORDPRESS_DB_PASSWORD=password
    working_dir: /var/www/html
    volumes:
      - ./wp_app:/var/www/html
